[submodule "airflow-docker-dev-setup"]
	path = airflow-docker-dev-setup
	url = git@github.com:tulibraries/airflow-docker-dev-setup.git
[submodule ".github/shared-scripts"]
	path = .github/shared-scripts
	url = git@github.com:tulibraries/shared-scripts.git
