[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apache-airflow = "==2.3.2"
apache-airflow-providers-amazon = "*"
apache-airflow-providers-ftp = "*"
apache-airflow-providers-http = "*"
apache-airflow-providers-sftp = "*"
apache-airflow-providers-slack = "*"
apache-airflow-providers-ssh = "*"
boto3 = "*"
cryptography = "==3.4.8"
flask-openid = "==1.3.0"
flask-sqlalchemy = "==2.4.4"
importlib_metadata = "*"
jinja2 = "==2.11.3"
lxml = "==4.7.1"
markupsafe= "==2.0.1"
moto = "==4.0.2"
# numpy required in circleci context.
numpy= "*"
paramiko = "*"
pexpect = "*"
pylint = "*"
pysftp = "*"
pytest = "*"
requests-mock = "*"
setuptools = "*"
sickle = "*"
sshtunnel = "*"
tulflow = "*"
wtforms = "==2.3.3"

[packages]

[requires]
python_version = "3"
