[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
apache-airflow = "*"

[packages]
tulflow = "*"
pexpect = "*"
xmltodict = "*"
sickle = "*"
awscli = "*"

[requires]
python_version = "3.6"
