[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
apache-airflow = "*"
localstack = "*"
moto = "*"

[packages]
tulflow = "==0.6.3"
pexpect = "*"
xmltodict = "*"
sickle = "*"
awscli = "*"
boto3 = "*"
lxml = "==4.4.3"

[requires]
python_version = "3.6"
